<img src="/assets/landing.jpg" alt="" style="width: 100%; height: 100%; border-radius: 10px;;">
<br><br>
<h3 style="text-align:center;">Web Store Product Management</h3>
<h5>Features:</h5>
<ul>
  <li>User registration.</li>
  <li>User login / authentication (generates bearer token).</li>
  <li>Category generation (and validation).</li>
  <li>Pagination and search / filter.</li>
  <li>Products assigned a category.</li>
  <li>Sequential product codes generated automatically.</li>
  <li>Products include image upload.</li>
  <li>Products can be loaded from excel spreadsheet (example format provided).</li>
</ul>
